.container {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
a {
  text-decoration: none;
  color: black;
  display: flex;
}
.logo {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
}
.imageContainer {
  display: flex;
  gap: 25px;
  position: relative;
}
.counterElement {
  display: flex;
  position: absolute;
  top: -5px;
  width: 18px;
  background-color: rgba(255, 165, 66, 1);
  border-radius: 20px;
  justify-content: center;
  color: white;
  left: 60px;
}

@media screen and (max-width: 700px) {
  .container {
    justify-content: center;
    gap: 10px;
  }
}
